@model MVCPresentationLayer.Models.CartIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
<table>
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Movie.Quantity</td>
                <td class="text-left">@line.Movie.Title</td>
                <td class="text-right">@line.Movie.RentalPrice.ToString("c")</td>
                <td class="text-right">@((line.Movie.Quantity * line.Movie.RentalPrice).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.CalculateTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>

