@model MVCPresentationLayer.Models.CartIndexViewModel

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
<table>
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            if (line.Movie != null)
            {
                <tr>
                    <td class="text-center">@line.MovieQuantity</td>
                    <td class="text-left">@line.Movie.Title</td>
                    <td class="text-right">@line.Movie.RentalPrice.ToString("c")</td>
                    <td class="text-right" id="movieSub">@((line.MovieQuantity * line.Movie.RentalPrice).ToString("c"))</td>
                    <td>
                        @using (Html.BeginForm("RemoveMovieFromCart", "Cart"))
                        {
                            @Html.Hidden("MovieId", line.Movie.MovieID)
                            <input class="btn btn-sm btn-warning" type="submit" value="Remove"/>
                        }
                    </td>
                </tr>
            }

        }

        @foreach (var line2 in Model.Cart.Lines)
        {
            if (line2.Game != null)
            {
                <tr>
                    <td class="text-center">@line2.GameQuantity</td>
                    <td class="text-left">@line2.Game.Title</td>
                    <td class="text-right">@line2.Game.RentalPrice.ToString("c")</td>
                    <td class="text-right" id="gameSub">@((line2.GameQuantity * line2.Game.RentalPrice).ToString("c"))</td>
                    <td>
                        @using (Html.BeginForm("RemoveGameFromCart", "Cart"))
                        {
                            @Html.Hidden("GameId", line2.Game.GameID)
                            <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right" id="total">@*@Model.Cart.CalculateTotalValue().ToString("c")*@</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="..">Continue Shopping</a>
    @Html.HiddenFor(x => Model.Cart.Lines)
    @Html.ActionLink("Checkout now", "Checkout",  null, new { @class = "btn btn-primary"})
</div>

@section Scripts{



    <script type="text/javascript">
        $.noConflict();

        $(document).ready(function () {
            var totalAll = 0;
            var gamePrice = $("#gameSub").val();
            var moviePrice = $("#movieSub").val();
            total = gamePrice + moviePrice;
            $("#total").val(totalAll);
            alert(gamePrice);
        });




    </script>


}