@model IEnumerable<LazerSharkDataObjects.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediumID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalPrice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Active)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediumID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalPrice)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>*@

        <td>
            @if (User.IsInRole("Administrator"))
            {
                
                @Html.ActionLink("Edit", "Edit", new { id=item.MovieID }) 
            }
        </td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Delete", "Delete", new { id=item.MovieID }) 
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.MovieID }) 
            

            @using (Html.BeginForm("Index", "Cart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(modelItem => item.MovieID)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Add to cart" />
                </div>
            }
        </td>
    </tr>
}

</table>
